@model IEnumerable<OnlineMagazin.Models.Products>
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="category-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-9">
                @await Component.InvokeAsync("SliderList")
            </div>
        </div>
    </div>
</div>

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="hot-deals-area carosel-circle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-title">
                                <h3 class="title-group border-red gfont-1">Горячие товары</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active-hot-deals">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    if (item.TypeProduct.TypeName == "Горячие товары")
                                    {
                                        <div class="col-xs-12">
                                            <div class="single-hot-deals">
                                                <div class="hot-deals-photo">
                                                    <a href="/Home/ProductDetail/@item.ProductId"><img style="min-height: 270px;" src="~/image/@item.Foto" alt="@item.Baslik" loading="lazy"></a>
                                                </div>
                                                <div class="count-down">
                                                    <div class="timer">
                                                        <div data-countdown="2023/02/31"></div>
                                                    </div>
                                                </div>
                                                <div class="hot-deals-text">
                                                    
                                                        @{
                                                            if (item.Baslik.Length > 28)
                                                            {
                                                                <h5>
                                                                    <a href="/Home/ProductDetail/@item.ProductId" class="name-group">@item.Baslik.ToString().Substring(0,28)...</a>
                                                                </h5>
                                                            }
                                                            else
                                                            {
                                                            <h5><a href="/Home/ProductDetail/@item.ProductId" class="name-group">@item.Baslik</a></h5>
                                                            }
                                                        }
                                                    
                                                    @await Component.InvokeAsync("RatingStar", new { id=item.ProductId})
                                                    <div class="price-box">
                                                        <span class="price gfont-2">₽@item.Price</span>
                                                        <span class="old-price gfont-2">₽@((Convert.ToDouble(item.Price)*0.16)+Convert.ToDouble(item.Price))</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("SliderBanner")
                @await Component.InvokeAsync("News")
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="product-banner home1-banner">
                    <div class="row">
                        <div class="col-md-7 banner-box1">
                            <div class="single-product-banner">
                                <a href="#"><img src="~/generalroot/img/33.png" alt="СТРОИТЕЛЬНЫЕ ИНСТРУМЕНТЫ" loading="lazy"></a>
                                <div class="banner-text banner-1">
                                    <h2>ЛЮБЫЕ ТИПЫ<br />МАТЕРИАЛОВ</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 banner-box2">
                            <div class="single-product-banner">
                                <a href="#"><img src="~/generalroot/img/88.png" alt="Product Banner" loading="lazy"></a>
                                <div class="banner-text banner-2">
                                    <h2>Пескобетон <span>10%</span></h2>
                                    <p>M-300</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-area">
                    <!-- Start Product-Menu -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="product-menu  border-red">
                                <div class="product-title">
                                    <h3 class="title-group-2 gfont-1">Товары</h3>
                                </div>
                                <ul role="tablist">
                                    <li role="presentation" class=" active"><a href="#display-2-1" role="tab" data-toggle="tab">Все товары</a></li>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in ViewBag.UpToCategory)
                                        {
                                            <li role="presentation"><a href="#display-@item.CategoryId" role="tab" data-toggle="tab">@item.CategoriName</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Product-Menu -->
                    <!-- Start Product -->
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="product carosel-navigation">
                                <div class="tab-content">
                                    <!-- Start Product = display-2-1 -->
                                    <div role="tabpanel" class="tab-pane fade in active" id="display-2-1">
                                        <div class="row">
                                            <div class="active-product-carosel">
                                                <!-- Start Single-Product -->
                                                @if (Model != null)
                                                {
                                                    @foreach (var item in Model)
                                                    {
                                                        <div class="col-xs-12">
                                                            <div class="single-product">
                                                                <div class="label_new">
                                                                    <span class="new">new</span>
                                                                </div>
                                                                <div class="sale-off">
                                                                    <span class="sale-percent">-16%</span>
                                                                </div>
                                                                <div class="product-img">
                                                                    <a href="/Home/ProductDetail/@item.ProductId">
                                                                        <img class="primary-img" src="~/image/@item.Foto" alt="Product">
                                                                        @if (item.Foto2 != null)
                                                                        {
                                                                            <img class="secondary-img" src="~/image/@item.Foto2" alt="Product" loading="lazy">
                                                                        }
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <h5>
                                                                        @{
                                                                            if (item.Baslik.Length > 39)
                                                                            {
                                                                                <a href="#">@item.Baslik.ToString().Substring(0,39)...</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#">@item.Baslik</a>
                                                                            }
                                                                        }
                                                                    </h5>
                                                                    <div class="price-box">
                                                                        <span class="price">₽@item.Price</span>
                                                                        <span class="old-price">₽@((Convert.ToDouble(item.Price)*0.16)+Convert.ToDouble(item.Price))</span>
                                                                    </div>
                                                                    @await Component.InvokeAsync("RatingStar", new { id=item.ProductId})
                                                                    <div class="product-action">
                                                                        <div class="button-group">
                                                                            <div class="product-button">
                                                                                <button onclick="AddProductToCart(@item.ProductId)" title="Добавить в корзину"><i class="fa fa-shopping-cart"></i> Добавить</button>
                                                                            </div>
                                                                            <div class="product-button-2">
                                                                                <a onclick="AddProductToLiked(@item.ProductId)" data-toggle="tooltip" title="Понравившиеся"><i class="fa fa-heart-o"></i></a>
                                                                                <a href="#" class="modal-view" onclick="ModalAc(@item.ProductId)" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="fa fa-search-plus"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model != null)
                                    {
                                        @foreach (var item2 in ViewBag.UpToCategory)
                                        {
                                            <div role="tabpanel" class="tab-pane fade" id="display-@item2.CategoryId">
                                                <div class="row">
                                                    <div class="active-product-carosel">

                                                        @foreach (var item in Model)
                                                        {
                                                            @if (item2.CategoryId == item.CategoryId)
                                                            {
                                                                <div class="col-xs-12">
                                                                    <div class="single-product">
                                                                        <div class="label_new">
                                                                            <span class="new">new</span>
                                                                        </div>
                                                                        <div class="sale-off">
                                                                            <span class="sale-percent">-16%</span>
                                                                        </div>
                                                                        <div class="product-img">
                                                                            <a href="/Home/ProductDetail/@item.ProductId">
                                                                                <img class="primary-img" src="~/image/@item.Foto" alt="Product">
                                                                                @if (item.Foto2 != null)
                                                                                {
                                                                                    <img class="secondary-img" src="~/image/@item.Foto2" alt="Product" loading="lazy">
                                                                                }
                                                                            </a>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <h5><a href="#">@item.Baslik</a></h5>
                                                                            <div class="price-box">
                                                                                <span class="price">₽@item.Price</span>
                                                                                <span class="old-price">₽@((Convert.ToDouble(item.Price)*0.16)+Convert.ToDouble(item.Price))</span>
                                                                            </div>
                                                                            @await Component.InvokeAsync("RatingStar", new { id=item.ProductId})
                                                                            <div class="product-action">
                                                                                <div class="button-group">
                                                                                    <div class="product-button">
                                                                                        <button onclick="AddProductToCart(@item.ProductId)" title="Добавить в корзину"><i class="fa fa-shopping-cart"></i> Добавить</button>
                                                                                    </div>
                                                                                    <div class="product-button-2">
                                                                                        <a onclick="AddProductToLiked(@item.ProductId)" data-toggle="tooltip" title="Понравившиеся"><i class="fa fa-heart-o"></i></a>
                                                                                        <a href="#" class="modal-view" onclick="ModalAc(@item.ProductId)" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="fa fa-search-plus"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-banner">
                    <div class="row">
                        <div class="col-md-7 banner-box1">
                            <div class="single-product-banner">
                                <a href="#"><img src="/generalroot/img/55.png" alt="Сухой смесь Пескобектон " loading="lazy"></a>
                                <div class="banner-text banner-1">
                                    <h2>СМЕСИ</h2>
                                    <span>от ₽99</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 banner-box2">
                            <div class="single-product-banner">
                                <a href="#"><img src="~/generalroot/img/77.png" alt="Строительные материалы" loading="lazy"></a>
                                <div class="banner-text banner-2">
                                    <h2>СТРОИТЕЛЬНЫЕ <span>ИНСТРУМЕНТЫ</span></h2>
                                    <p>ЛЮБОГО ВИДА</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function AddProductToCart(id) {
        $.post("/Home/AddProductToCart?productID=" + id + "&qty=" + 1 + "", function (data) {
            swal({
              title: "Успешно",
              text: "Товар успешно добавлен в корзину!",
              icon: "success",
              buttons: ["Продолжить покупку", "Перейти в корзину"],
            })
            .then((goWishList) => {
              if (goWishList) {
                window.location = "/Home/Cart";
              }
            });
            $.get("/Home/GetMyViewComponent", function (data) {
                $("#followersrefresh").html(data);
            });
        });
        return false;
    };
            function AddProductToLiked(id) {
        $.post("/Home/AddProductToLiked?productID=" + id + "", function (data) {
            swal({
              title: "Успешно",
              text: "Товар успешно добавлен в понравившиеся!",
              icon: "info",
              buttons: ["Продолжить", "Перейти в список понравившиеся"],
            })
            .then((goWishList) => {
              if (goWishList) {
                window.location = "/Home/WishList";
              }
            });
            $.get("/Home/GetMyViewComponent", function (data) {
                console.log(data);
                $("#followersrefresh").html(data);
            });
        });
        return false;
    };
    function ModalAc(id) {
        $.get("/Home/ModalView?productID=" + id +"", function (data) {
             $("#quickview-wrapper").html(data);
             $("#productModal").modal('show');
        });
        $("#quickview-wrapper").html("");
        return false;
    };
</script>