@using OnlineMagazin.ViewModels
@model ViewProductCart

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-menu">
                    <li><a href="~/Home/HomeIndex/">Главная</a></li>
                    <li><a href="#">@Model.products.Category.CategoriName</a></li>
                    <li class="active"><a href="#">@Model.products.Baslik</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @await Component.InvokeAsync("CategoryList")
                @await Component.InvokeAsync("BestsellerProducts")
                @await Component.InvokeAsync("SliderBanner")
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="toch-prond-area">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="clear"></div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="display-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="display-2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto2" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="display-3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto3" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="display-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto4" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="display-5">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto5" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="display-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="toch-photo">
                                                <a href="#"><img src="~/image/@Model.products.Foto6" data-imagezoom="true" alt="#" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="toch-prond-menu">
                                <ul role="tablist">
                                    @{
                                        <li role="presentation" class=" active"><a href="#display-1" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto" alt="#" /></a></li>
                                        if (Model.products.Foto2 != null)
                                        {
                                            <li role="presentation"><a href="#display-2" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto2" alt="#" /></a></li>
                                        }
                                        if (Model.products.Foto3 != null)
                                        {
                                            <li role="presentation"><a href="#display-3" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto3" alt="#" /></a></li>
                                        }
                                        if (Model.products.Foto4 != null)
                                        {
                                            <li role="presentation"><a href="#display-4" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto4" alt="#" /></a></li>
                                        }
                                        if (Model.products.Foto5 != null)
                                        {
                                            <li role="presentation"><a href="#display-5" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto5" alt="#" /></a></li>
                                        }
                                        if (Model.products.Foto6 != null)
                                        {
                                            <li role="presentation"><a href="#display-6" role="tab" data-toggle="tab"><img src="~/image/@Model.products.Foto6" alt="#" /></a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h2 class="title-product">@Html.DisplayFor(model => model.products.Baslik)</h2>
                            <div class="about-toch-prond">
                                <p>
                                    @await Component.InvokeAsync("RatingStar", new { id=Model.products.ProductId})
                                    <a href="#">1 отзывов</a>
                                    /
                                    <a href="#otziv">Написать отзыв</a>
                                </p>

                                <span asp-for="products.Price" class="current-price fa fa-money"> @Html.DisplayFor(model => model.products.Price) RUB</span>
                                <input id="ProductPrice" value="@Html.DisplayFor(model => model.products.Price)" class="hide" />
                                <span class="item-stock">Доступность: <span class="text-stock">В наличии</span></span>
                            </div>
                            <div class="about-product">
                                @await Component.InvokeAsync("ProductDetailsFeatures", new { id = Model.products.ProductId })
                            </div>
                            <div class="product-quantity">
                                <span>Кол-во</span>
                                <input type="number" id="qty" min="1" value="1" />
                                <button type="submit" onclick="AddProductToLiked(@Model.products.ProductId)" class="toch-button toch-wishlist">Понравившиеся</button>
                                <br />
                                <br />
                                <button type="submit" onclick="AddProductToCart()" id="ppid" value="@Model.products.ProductId" class="toch-button toch-add-cart">Добавить в корзину</button>
                            </div>
                            <hr />
                            @Html.Raw(Model.products.Icerik)
                            <hr />
                        </div>
                    </div>
                    <div class="toch-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="toch-menu">
                                    <ul role="tablist">
                                        <li role="presentation" class=" active"><a href="#description" role="tab" data-toggle="tab">Описание</a></li>
                                        <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Отзывы (@ViewBag.Comments)</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content toch-description-review" id="otziv">
                                    <div role="tabpanel" class="tab-pane fade in active" id="description">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="toch-description">
                                                    <p>
                                                        @Html.Raw(Model.products.Icerik)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="toch-reviews">
                                                    @await Component.InvokeAsync("Comment", new { id = Model.products.ProductId })
                                                    <div class="toch-review-title">
                                                        <h2>Оставить отзыв</h2>
                                                    </div>
                                                    <form onsubmit="return false">
                                                    <div class="review-message">
                                                        <div class="col-xs-12">
                                                            <p>
                                                                <sup>*</sup>Ваше имя <br>
                                                                <input type="text" required class="form-control" id="UserName" />
                                                                @*<input type="hidden" name="ProductId" value="@Model.products.ProductId"/>*@
                                                            </p>
                                                            <p>
                                                                <sup>*</sup>Ваш отзыв <br>
                                                                <textarea required class="form-control" id="Contents"></textarea>
                                                            </p>
                                                        </div>
                                                        <div class="help-block">
                                                            <span class="note">Примечание:</span>
                                                            HTML не переводится!
                                                        </div>
                                                        <div class="get-rating">
                                                            <span><sup>*</sup>Оценка </span>
                                                            Плохо
                                                            <input type="radio" value="1" name="Score" required/>
                                                            <input type="radio" value="2" name="Score" />
                                                            <input type="radio" value="3" name="Score" />
                                                            <input type="radio" value="4" name="Score" />
                                                            <input type="radio" value="5" name="Score" />
                                                            Отлично
                                                        </div>
                                                        <div class="buttons clearfix">
                                                            <button onclick="AddComment(@Model.products.ProductId)" class="btn btn-primary pull-right" type="submit">Продолжить</button>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("RelatedProducts", new { id = Model.products.ProductId })
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function AddProductToCart() {
        var pID = $("#ppid").val();
        var qty = $("#qty").val();
        var productPrice = $("#ProductPrice").val();
        $.post("/Home/AddProductToCart?productID=" + pID + "&qty=" + qty + "", function (data) {
            swal({
              title: "Успешно",
              text: "Товар успешно добавлен в корзину!",
              icon: "success",
              buttons: ["Продолжить покупку", "Перейти в корзину"],
            })
            .then((goWishList) => {
              if (goWishList) {
                window.location = "/Home/Cart";
              } 
            });
            $.get("/Home/GetMyViewComponent", function (data) {
                $("#followersrefresh").html(data);
            });
        });
        return false;
    };

    function AddProductToLiked(id) {
        $.post("/Home/AddProductToLiked?productID=" + id + "", function (data) {
            swal({
              title: "Успешно",
              text: "Товар успешно добавлен в понравившиеся!",
              icon: "info",
              buttons: ["Продолжить", "Перейти в список понравившиеся"],
            })
            .then((goWishList) => {
              if (goWishList) {
                window.location = "/Home/WishList";
              }
            });
            $.get("/Home/GetMyViewComponent", function (data) {
                $("#followersrefresh").html(data);
            });
        });
        return false;
    };

    function ModalAc(id) {
        $.get("/Home/ModalView?productID=" + id +"", function (data) {
             $("#quickview-wrapper").html(data);
             $("#productModal").modal('show');
        });
        $("#quickview-wrapper").html("");
        return false;
    };

    function AddComment(id) {
        var UserName = document.getElementById("UserName").value;
        var Contents = document.getElementById("Contents").value;
        var Score = document.querySelector('input[name="Score"]:checked').value;
        $.post("/Home/Commenting?productID=" + id + "&UserName=" + UserName + "&Contents="+ Contents+ "&Score="+ Score +"", function (data) {
            if(data!=null)
            {
                swal("Спасибо за отзыв!", "Будет опубликован после проверки.", "success");
                document.getElementById("UserName").value="";
                document.getElementById("Contents").value="";
            }
        });
        return false;
    };
</script>

