@model IEnumerable<OnlineMagazin.Models.Sliders>
<div class="slider-area">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider" class="slides">
            @foreach (var item in Model)
            {
                <img src="@("~/image/" + item.SliderResim)" asp-append-version="true" alt="@item.SliderName" title="#@item.SliderId" />
            }
        </div>
        @foreach (var item in Model)
        {
            <div id="@item.SliderId" class="t-lfr slider-direction">
                <div class="slider-progress"></div>

                <div class="layer-1-1 ">
                    <h1 class="title1">@item.SliderName</h1>
                </div>

                <div class="layer-1-2">
                    <p class="title2">@item.SliderDescription</p>
                </div>

                <div class="layer-1-4">
                    <a href="/Home/GetProducts" class="title4">Начать покупку</a>
                </div>
            </div>
        }
    </div>
</div>