@using Microsoft.AspNetCore.Identity
@using OnlineMagazin.Areas.Identity.Data

@inject UserManager<OnlineMagazinUser> UserManager
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="3231937aa1ad0776"/>
    <meta name="google-site-verification" content="EicaXENbKBV4dznzzC7hdBJvVRRbNxxqJjmIbkoUxeg" />
    <meta name="p:domain_verify" content="df8adaa0f5117ab0f2eb481a764571b9" />
    <title>@ViewData["Title"] - Vector Строй маркет</title>
    <meta name="Descption" content="@ViewData["Descption"]"/>
    <meta name="keywords" content="@ViewData["keywords"]"/>

    <link href="~/generalroot/img/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon" asp-append-version="true"/>
    <link href="~/generalroot/img/favicon.ico" rel="icon" runat="server" type="image/ico" asp-append-version="true" />
    <!-- Google Fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap' onload="this.rel = 'stylesheet'" rel="preload" as="style" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap' onload="this.rel = 'stylesheet'" rel="preload" as="style" type='text/css'>

    <link rel="preload" as="style" type="text/css" onload="this.rel = 'stylesheet'" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="preload" as="style" type="text/css" onload="this.rel = 'stylesheet'" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="preload" as="style" type="text/css" onload="this.rel = 'stylesheet'" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="preload" as="style" type="text/css" onload="this.rel = 'stylesheet'" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <!-- Bootstrap CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/bootstrap.min.css">
    <!-- Font awesome CSS
    ============================================ -->
    <link href="~/generalroot/css/font-awesome.min.css" onload="this.rel = 'stylesheet'" rel="preload" as="style" type='text/css'>
    <!-- owl.carousel CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/owl.carousel.css">
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/owl.theme.css">
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/owl.transitions.css">
    <!-- nivo slider CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/nivo-slider.css" type="text/css" />
    <!-- meanmenu CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/meanmenu.min.css">
    
    <!-- jquery-ui CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/jquery-ui.css">
    <!-- animate CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/animate.css">
    <!-- main CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/main.css">
    <!-- style CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/style.css">
    <!-- responsive CSS
    ============================================ -->
    <link onload="this.rel = 'stylesheet'" rel="preload" as="style" href="~/generalroot/css/responsive.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J369ZVX7QD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J369ZVX7QD');
    </script>

</head>
<body>

    <!-- HEADER-AREA START -->
    <header class="header-area">
        <!-- HEADER-TOP START -->
        <div class="header-top hidden-xs">
            <div class="container">
                <div class="row">
                    <partial name="_Login" />
                </div>
            </div>
        </div>
        <!-- HEADER-TOP END -->
        <!-- HEADER-MIDDLE START -->
        <div class="header-middle">
            <div class="container">
                <!-- Start Support-Client -->
                <div class="support-client hidden-xs">
                    <div class="row">
                        <!-- Start Single-Support -->
                        <div class="col-md-3 hidden-sm">
                            <div class="single-support">
                                <div class="support-content">
                                    <i class="fa fa-clock-o"></i>
                                    <div class="support-text">
                                        <h1 class="zero gfont-1">Рабочее время</h1>
                                        <p>Пн-вс: 8.00 - 22.00 (Без выходных)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single-Support -->
                        <!-- Start Single-Support -->
                        <div class="col-md-3 col-sm-4">
                            <div class="single-support">
                                <i class="fa fa-truck"></i>
                                <div class="support-text">
                                    <h1 class="zero gfont-1">Бесплатная доставка</h1>
                                    <p>При заказе от 120000 ₽</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single-Support -->
                        <!-- Start Single-Support -->
                        <div class="col-md-3 col-sm-4">
                            <div class="single-support">
                                <i class="fa fa-money"></i>
                                <div class="support-text">
                                    <h1 class="zero gfont-1">Возврат денег 100%</h1>
                                    <p>В течение 30 дней после доставки</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single-Support -->
                        <!-- Start Single-Support -->
                        <div class="col-md-3 col-sm-4">
                            <div class="single-support">

                                <a href="https://api.whatsapp.com/send?phone=79998775394">
                                    <i class="fa fa-whatsapp fa-wheelchair-alt"></i>
                                    <div class="support-text">
                                        <h1 class="zero gfont-1">Номер: +79998775394 </h1>
                                        <p>Заказать онлайн сейчас!</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single-Support -->
                    </div>
                </div>
                <!-- End Support-Client -->
                <!-- Start logo & Search Box -->
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="logo">
                            <a href="~/Home/HomeIndex/" title="Vector"><img src="~/generalroot/img/logovector.png" alt="Malias"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="quick-access">
                            <div class="search-by-category">
                                @await Component.InvokeAsync("SearchAllProduct")
                            </div>
                            <div style="display: inline-block;" id="followersrefresh">
                                @await Component.InvokeAsync("CartView")
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End logo & Search Box -->
            </div>
        </div>
        <!-- HEADER-MIDDLE END -->
        <!-- START MAINMENU-AREA -->
        <div class="mainmenu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mainmenu hidden-sm hidden-xs">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="~/Home/HomeIndex/">Главная</a>
                                    </li>
                                    <li class="hot"><a href="/Home/GetProducts">Бестселлер товары</a></li>
                                    <li class="new"><a href="/Home/GetProducts">Новые товары</a></li>
                                    <li>
                                        <a href="#">Страницы</a>
                                        <ul>
                                            <li><a href="/Home/Cart">Корзина</a></li>
                                            <li><a href="/Home/Account/@UserManager.GetUserId(User)">Мой аккаунт</a></li>
                                            <li><a href="/Home/Account/@UserManager.GetUserId(User)">История заказов</a></li>
                                            <li><a href="/Home/WishList">Список понравившихся</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Home/About">О нас</a></li>
                                    <li><a href="/Home/Message">Связаться с нами</a></li>
                                    <li><a href="/Home/Delivery">Информация о доставке</a></li>
                                    <li><a href="/Home/Payment">Оплата</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN-MENU-AREA -->
        <!-- Start Mobile-menu -->
        <div class="mobile-menu-area hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav id="mobile-menu">
                            <ul>
                                <li>
                                    <a href="/Home/HomeIndex">Главная</a>
                                </li>
                                <li class="hot"><a href="/Home/GetProducts">Бестселлер товары</a></li>
                                <li class="new"><a href="/Home/GetProducts">Новые товары</a></li>
                                <li>
                                    <a href="#">Категории</a>
                                    <ul>@await Component.InvokeAsync("CategoryListMobile")</ul>
                                </li>
                                <li>
                                    <a href="#">Страницы</a>
                                    <ul>
                                        <li><a href="/Home/Cart">Корзина</a></li>
                                        <partial name="_LoginMobile" />
                                        <li><a href="/Home/WishList">Список понравившихся</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Home/About">О нас</a></li>
                                <li><a href="/Home/Message">Связаться с нами</a></li>
                                <li><a href="/Home/Delivery">Информация о доставке</a></li>
                                <li><a href="/Home/Payment">Оплата</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
    @await Component.InvokeAsync("BrandsList")
    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <label class="hidden-sm hidden-xs">Подпишитесь на рассылку:</label>
                    <div class="subscribe">
                        <form onsubmit="return false">
                            <input type="email" required placeholder="Введите E-mail" id="Mail" />
                            <button onclick="Subcribe()">Подписаться</button>
                        </form>
                        <script type="text/javascript">
                            function Subcribe() {
                                var Mail=document.getElementById("Mail").value;
                                if(!!Mail)
                                {
                                    $.post("/Home/Subcribe?Mail=" + Mail + "", function (data) {
                                        if(data!=="Error")
                                        {
                                            swal("Вы успешно подписались!", "Спасибо что вы с нами", "success");
                                        }
                                        else{swal("Вы уже подписаны!", "Введите другую почту", "error");}
                                    });
                                }
                                return false;
                            };
                        </script>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="social-media">
                        <a href="https://api.whatsapp.com/send?phone=79998775394" title="WhatsApp"><i class="fa fa-whatsapp wts"></i></a>
                        <a href="https://www.facebook.com/adilet.djalilov" target="_blank" title="Facebook"><i class="fa fa-facebook fb"></i></a>
                        <a href="mailto:vectormarketstroy@gmail.com" title="Google+"><i class="fa fa-google-plus gp"></i></a>
                        <a href="https://www.linkedin.com/in/adilet-dzhalilov-01a274226/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin li"></i></a>
                        <a href="https://twitter.com/Dvijeniels" title="Twitter"><i class="fa fa-twitter tt"></i></a>
                        <a href="#" title="YouTube"><i class="fa fa-youtube yt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="footer-title">
                            <h5>Мой аккаунт</h5>
                        </div>
                        <nav>
                            <ul class="footer-content">
                                <li><a href="/Home/Account/@UserManager.GetUserName(User)">Мой аккаунт</a></li>
                                <li><a href="/Home/Account/@UserManager.GetUserName(User)">История заказов</a></li>
                                <li><a href="/Home/WishList">Понравившиеся</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="footer-title">
                            <h5>Обслуживание клиентов</h5>
                        </div>
                        <nav>
                            <ul class="footer-content">
                                <li><a href="/Home/Message">Связаться с нами</a></li>
                                <li><a href="/Home/About">О нас</a></li>
                                <li><a href="/Home/Delivery">Информация о доставке</a></li>
                                <li><a href="/Home/Payment">Оплата</a></li>
                                <li><a href="#">Политика конфиденциальности</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-12 hidden-sm col-md-3">
                        <div class="footer-title">
                            <h5>Скидки & Сертификаты</h5>
                        </div>
                        <nav>
                            <ul class="footer-content">
                                <li><a href="#">Бренды</a></li>
                                <li><a href="#">Подарочные сертификаты</a></li>
                                <li><a href="#">Филиалы</a></li>
                                <li><a href="#">Специальные</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="footer-title">
                            <h5>Контакты & Местоположение</h5>
                        </div>
                        <nav>
                            <ul class="footer-content box-information">
                                <li>
                                    <i class="fa fa-home"></i><span>Московская область, Ленинский городской округ, Варшавское шоссе, 21-й километр, с1, Каширский Двор-3, Россия</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i><p><a href="mailto:vector@pskanker.ru">vector@pskanker.ru</a></p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>+79998775394</span> <br> <span> +79163033395</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright &copy; <a href="https://api.whatsapp.com/send?phone=79163033395" target="_blank">Adilet Dzhalilov</a> Все права защищены. @DateTime.Now.Year</p>
                            <div class="payment">
                                <a href="#"><img src="~/generalroot/img/payment.png" alt="Payment" loading="lazy"><img src="/generalroot//img/mir2.png" alt="Mir" loading="lazy"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="quickview-wrapper"></div>
    <script src="~/generalroot/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
    ============================================ -->
    <script src="~/generalroot/js/bootstrap.min.js"></script>
    <!-- wow JS
    ============================================ -->
    <script src="~/generalroot/js/wow.min.js"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="~/generalroot/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script src="~/generalroot/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="~/generalroot/js/jquery.scrollUp.min.js"></script>
    <!-- countdon.min JS
    ============================================ -->
    <script src="~/generalroot/js/countdon.min.js"></script>
    <!-- jquery-price-slider js
    ============================================ -->
    <script src="~/generalroot/js/jquery-price-slider.js"></script>
    <!-- Nivo slider js
    ============================================ -->
    <script src="~/generalroot/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <!-- plugins JS
    ============================================ -->
    <script src="~/generalroot/js/plugins.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/generalroot/js/main.js"></script>
    

    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Image zoom js
    ============================================ -->
    <script src="~/generalroot/js/imagezoom.js"></script>
        <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92336519, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92336519" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


