@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using OnlineMagazin.Areas.Identity.Data

@inject SignInManager<OnlineMagazinUser> SignInManager
@inject UserManager<OnlineMagazinUser> UserManager
@inject IHttpContextAccessor Accessor


@if (SignInManager.IsSignedIn(User))
{
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="top-menu">
            <p class="welcome-msg">Добро пожаловать @UserManager.GetUserName(User)!</p>
        </div>
        <div class="top-link">
            <ul class="link">
                @if(User.IsInRole("Admin"))
                {
                    <li><a asp-controller="Admin" asp-action="AdminIndex"><i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i> Админ панель</a></li>
                }
                
                <li><a asp-controller="Home" asp-action="Account" asp-route-id="@UserManager.GetUserId(User)"><i class="fa fa-user"></i> Мой аккаунт</a></li>
                @{
                    var likedCount = SessionHelper.GetObjectFromJson<List<Liked>>(Accessor.HttpContext.Session, "liked");
                    if (likedCount == null)
                    {
                        <li><a href="/Home/WishList"><i class="fa fa-heart"></i> Понравившиеся (0)</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/WishList"><i class="fa fa-heart"></i> Понравившиеся (@likedCount.Count())</a></li>
                    }
                }
                
            <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("HomeIndex", "Home", new { area = "" })">
                        <a id="logout" style="cursor: pointer;" @*href="/Identity/Account/Logout"*@ onclick="document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Выйти</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="top-menu">
            <p class="welcome-msg"><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> Зарегистрироваться</a></p>
        </div>
        <div class="top-link">
            <ul class="link">
                @{
                    var likedCount = SessionHelper.GetObjectFromJson<List<Liked>>(Accessor.HttpContext.Session, "liked");
                    if (likedCount == null)
                    {
                        <li><a href="/Home/WishList"><i class="fa fa-heart"></i> Понравившиеся (0)</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/WishList"><i class="fa fa-heart"></i> Понравившиеся (@likedCount.Count())</a></li>
                    }
                }
                <li><a asp-area="Identity" asp-page="/Account/Login" ><i class="fa fa-sign-in"></i> Войти</a></li>
            </ul>
        </div>
    </div>
}