@model OnlineMagazin.Models.Message

@{
    ViewData["Title"] = "Сообщение";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <h5>Детали сообщений</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageGonderen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageGonderen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageBaslik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageBaslik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageIcerik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageIcerik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Read)
            {<h6>Прочитан</h6>}
            else { <h6>Не прочитан</h6>}
        </dd>
    </dl>
    <form asp-action="Details">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MessageId" />
            <input type="hidden" asp-for="MessageGonderen" />
            <input type="hidden" asp-for="MessageMail" />
            <input type="hidden" asp-for="MessageBaslik" />
            <input type="hidden" asp-for="MessageIcerik" />
            <input type="hidden" asp-for="MessageDate" />
            <input type="submit" value="Прочитать" class="btn btn-primary" />
        </div>
    </form>
<div style="margin-left:1%">
    <a asp-action="Edit" class="btn btn-outline-dark mb-3" asp-route-id="@Model.MessageId">Изменить</a> |
    <a class="btn btn-outline-secondary mb-3" asp-action="Index"><i class="ti-arrow-left">  Вернуться в список</i></a>
</div>
