@model IEnumerable<OnlineMagazin.Models.Brands>

@{
    ViewData["Title"] = "Бренды";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="col-12 mt-lg-3">
    <div class="card">
        <a asp-action="Create" class="btn btn-outline-secondary mb-3"><i class="ti-plus"></i>  Создать новый</a>
        <div class="data-tables datatable-dark">
            <table id="dataTable3" class="text-center">
                <thead class="text-capitalize">
                    <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandsResim)
            </th>
            <th>
                            Картинка
                        </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandsName)
            </th>
            <th></th>
        </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandsResim)
                        </td>
                        <td>
                            <img src="@("~/image/"+item.BrandsResim)" asp-append-version="true" width="200" height="200" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandsName)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-action="Edit" asp-route-id="@item.BrandsId" class="btn btn-secondary btn-dark">Изменить</a> 
                                <a asp-action="Details" asp-route-id="@item.BrandsId" class="btn btn-secondary btn-info">Детали</a>
                                <a asp-action="Delete" asp-route-id="@item.BrandsId" class="btn btn-secondary btn-danger">Удалить</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
