@model IEnumerable<OnlineMagazin.Models.TypeProduct>

@{
    ViewData["Title"] = "Тип";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-12 mt-lg-3">
    <div class="card">
        <a asp-action="Create" class="btn btn-outline-secondary mb-3"><i class="ti-plus"></i>  Создать новый</a>
        <div class="data-tables datatable-dark">
            <table id="dataTable3" class="text-center">
                <thead class="text-capitalize">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TypeId">Изменить</a> |
                            <a asp-action="Details" asp-route-id="@item.TypeId">Прочитать</a> |
                            <a asp-action="Delete" asp-route-id="@item.TypeId">Удалить</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
