@model OnlineShop.Models.ProductFeatures

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Характеристики товара</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoriName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryFeature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryFeature.FeatureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Baslik)
        </dd>
    </dl>
</div>
<div style="margin-left:1%">
    <a asp-action="Edit" class="btn btn-outline-dark mb-3" asp-route-id="@Model.ProductFeatureId">Изменить</a> |
    <a class="btn btn-outline-secondary mb-3" asp-action="Index"><i class="ti-arrow-left">  Вернуться в список</i></a>
</div>
